<html>
<head>
    <title> First Symfony Application</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstraps.css')) }}"/>
</head>
<body>
{{ include ('Layout/navbar.html.twig') }}
<div class="container">







